<ul class="carousel clean-list" #carouselContainer>
  <li *ngFor="let imgUrl of imgUrls" class="carousel-item">
    <img [src]="imgUrl" class="carousel-image" />
  </li>
  <button (click)="goToPrev()" class="arrow-left">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </button>
  <button (click)="goToNext()" class="arrow-right">
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </button>
</ul>
<div class="dots-pagination">
  <span
    *ngFor="let imgUrl of imgUrls; let i = index"
    [ngClass]="{ active: i === currentIndex }"
    (click)="goToIndex(i)"
  ></span>
</div>
