<div class="main-layout">
  <div class="wrapper">
    <div class="filters">
      <div
        class="filter-widget"
        *ngFor="let filter of filters$ | async"
        (click)="
          filterBy.labels =
            filterBy.labels.length === 1 && filterBy.labels[0] === filter.title
              ? []
              : [filter.title];
          onFilterChange()
        "
        [class.active]="
          filterBy.labels.length === 1 && filterBy.labels[0] === filter.title
        "
      >
        <img [src]="filter.img" [alt]="filter.title" />
        <p>{{ filter.title }}</p>
      </div>
      <button (click)="onNextFilters()" class="next-filters-btn">
        <fa-icon [icon]="faChevronRight" size="sm"></fa-icon>
      </button>
    </div>

    <button (click)="isModalOpen = true" class="filters-modal-btn">
      <fa-icon [icon]="faFilter"></fa-icon>
      Filters
    </button>
  </div>
</div>

<!-- <div class="filters-modal"></div> // consider making seperate cmp for that probs you should -->
