<div
  [ngClass]="{ active: activeModule === 'start-date' }"
  (click)="onChangeModule('start-date')"
  class="filter-module"
>
  <h5 class="filter-title">Check in</h5>
  <input
    class="filter-selection"
    type="text"
    disabled="true"
    [ngModel]="selectedStartDate | date : 'MMM d'"
    placeholder="Start date"
  />
  <button class="filter-reset-btn">
    <fa-icon size="xs" [icon]="faX"></fa-icon>
  </button>
</div>
<div
  [ngClass]="{ active: activeModule === 'end-date' }"
  (click)="onChangeModule('end-date')"
  class="filter-module"
>
  <h5 class="filter-title">Check out</h5>
  <input
    class="filter-selection"
    type="text"
    disabled="true"
    [ngModel]="selectedEndDate | date : 'MMM d'"
    placeholder="End date"
  />
  <button class="filter-reset-btn">
    <fa-icon size="xs" [icon]="faX"></fa-icon>
  </button>
</div>
<div
  *ngIf="activeModule === 'start-date' || activeModule === 'end-date'"
  class="date-range-picker"
>
  <div class="date-picker-container">
    <div class="date-picker">
      <div class="month-header">
        <span class="prev" (click)="previousMonth(false)">&#8249;</span>
        {{ months[startMonth] }} {{ startYear }}
        <span></span>
      </div>
      <div class="days-header">
        <span *ngFor="let day of days">{{ day }}</span>
      </div>
      <div class="days">
        <span
          *ngFor="let day of startMonthDays; let i = index"
          class="day"
          [ngClass]="{
            disabled: day,
            empty: day === null,
            active: isDayActive(day, startMonth, startYear),
            'in-range': isDayInRange(day, startMonth, startYear)
          }"
          (click)="selectDate(day, startMonth, startYear)"
        >
          {{ day === null || day === 0 ? "" : day }}
        </span>
      </div>
    </div>
    <div class="date-picker">
      <div class="month-header">
        <span></span>
        {{ months[endMonth] }} {{ endYear }}
        <span class="next" (click)="nextMonth(true)">&#8250;</span>
      </div>
      <div class="days-header">
        <span *ngFor="let day of days">{{ day }}</span>
      </div>
      <div class="days">
        <span
          *ngFor="let day of endMonthDays; let i = index"
          class="day"
          [ngClass]="{
            empty: day === null,
            active: isDayActive(day, endMonth, endYear),
            'in-range': isDayInRange(day, endMonth, endYear)
          }"
          (click)="selectDate(day, endMonth, endYear)"
        >
          {{ day === null || day === 0 ? "" : day }}
        </span>
      </div>
    </div>
  </div>
</div>
