<overlay-screen
  (click)="isExpanded = false"
  [isOpen]="isExpanded"
></overlay-screen>

<header class="app-header main-layout" [class.expanded]="isExpanded">
  <div class="content-wrapper flex align-center justify-between">
    <app-logo></app-logo>
    <search-teaser
      [class.is-expanded]="isExpanded"
      [filterBy]="filterBy"
      (click)="isExpanded = true"
    ></search-teaser>
    <user-menu></user-menu>
  </div>
  <search-expanded
    class="full"
    [filterBy]="filterBy"
    [class.is-expanded]="isExpanded"
  ></search-expanded>
</header>
