<form [class.active]="activeModule" class="filter-form">
  <filter-location
    [class.active]="activeModule === 'location'"
    class="filter-module"
    (click)="onChangeModule('location')"
  ></filter-location>

  <filter-datepicker></filter-datepicker>

  <div
    [class.active]="activeModule === 'guests'"
    class="filter-group filter-module"
  >
    <filter-guests
      class="filter-module guests"
      (click)="onChangeModule('guests')"
    ></filter-guests>
    <button class="search-btn">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>
</form>
