.stay-preview {
  cursor: pointer;
  border-radius: 1rem;
  width: 100%;
  background-color: #fff;

  &.map-view {
    width: 100%;
    .meta {
      padding: 1rem;
    }
  }
}

.map-stay-preview {
  width: 300px;
  transform: translateX(-50%);
  position: absolute;
  top: 3rem;
}
