<h5 class="filter-title">Where</h5>
<input
  class="filter-selection"
  type="text"
  name="location"
  id="location"
  placeholder="Search destination"
  [(ngModel)]="typedDestination"
  [value]="typedDestination || selectedDestination"
/>
<button class="filter-reset-btn">
  <fa-icon size="xs" [icon]="faX"></fa-icon>
</button>

<div
  *ngIf="activeModule === 'location'"
  class="sided-filter-extention left location-picker"
>
  <div
    *ngIf="typedDestination === '' || !typedDestination"
    class="regions-container"
  >
    <div *ngFor="let region of regions" class="region">
      <img
        [class.active]="selectedDestination === region.label"
        (click)="onRegionClick($event, region.label)"
        [src]="region.img"
        [alt]="region.label"
      />
      <p>{{ region.label }}</p>
    </div>
  </div>
</div>
