<h5 class="filter-title">Who</h5>
<p class="filter-selection" [class.unselected]="totalGuests === 0">
  {{ totalGuests ? totalGuests + " guests" : "Add guests" }}
</p>
<button class="filter-reset-btn">
  <fa-icon size="xs" [icon]="faX"></fa-icon>
</button>

<div
  *ngIf="activeModule === 'guests'"
  class="sided-filter-extention right guests-picker"
>
  <ul class="counters clean-list">
    <li *ngFor="let counter of counters; let i = index" class="counter-group">
      <div class="guests-subject">
        <h3 class="subject">{{ counter.subject }}</h3>
        <p class="description">{{ counter.description }}</p>
      </div>
      <div class="counter">
        <button
          [disabled]="counter.count === 0"
          (click)="onCounterChange(false, i)"
          class="btn-minus"
        >
          <fa-icon [icon]="faMinus"></fa-icon>
        </button>
        <span class="count">{{ counter.count }}</span>
        <button
          [disabled]="counter.count === 10"
          (click)="onCounterChange(true, i)"
          class="btn-plus"
        >
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </li>
  </ul>
</div>
