.stay-preview {
  .meta {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    .name {
    }
    .type {
    }
    .price {
      .price-suffix {
        font-weight: 100;
      }
    }
  }
}
