<article *ngIf="stay" class="stay-preview" #intersectionElement>
  <img-carousel [imgUrls]="stay.imgUrls"></img-carousel>
  <section class="meta">
    <p class="rate">
      <fa-icon size="xs" [icon]="faStar"></fa-icon>
      {{ stay.avgRate }}
    </p>
    <p class="name font-medium inline-clamp">{{ stay.name }}</p>
    <p class="type">{{ stay.type }}</p>
    <p class="price font-medium">
      ${{ stay.price }}
      <span class="price-suffix font-base">night</span>
    </p>
  </section>
</article>

<article
  *ngIf="!stay"
  [class.hide]="stay"
  class="skeleton-preview"
  #skeletonPreview
>
  <div class="img-skeleton"></div>
  <section class="meta">
    <div class="group flex align-center">
      <div class="skeleton icon-skeleton"></div>
      <div class="skeleton label-skeleton"></div>
    </div>
    <div class="skeleton text-skeleton"></div>
    <div class="skeleton text-skeleton"></div>
  </section>
</article>
